
/* Fix Footer */
html {
    position: relative;

}

body {
    margin-bottom: 120px;
    /* MArgin Botton tinggi sama dengan footer */
}

.jumbotron img{
    width: 200px;
    border: 5px solid #666;
}

.about hr {
    width: 250px;
    border-top: 3px solid #999;
}

.row hr {
    width: 250px;
    border-top: 3px solid #999;
}
section {
    min-height: 600px;
}

.portfolio {
    background-color: #eee;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #333;
    padding: 30px;
}

footer p {
    color: #aaa;
    font-size: 13px;
}

.contact {
    min-height: 800px;
}